body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Flexbox */
.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: max-content;
  height: max-content;
  border: 1px solid black;
  padding: 32px;
}

/* Grid */
.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 8px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: salmon;
  border-radius: 2px;
}