body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    width: 100px;
    height: 50px;
    padding: 3px;
    border: 1px solid #333333;
    margin: 10px 5px;
    background-color: rgb(255, 255, 0);
}

.cat-img { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}